html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: hsl(185, 41%, 84%);
}

.container {
  height: 100%;
  color: hsl(183, 100%, 15%);
  text-align: center;
  font-weight: 500;
}

.logo {
  margin: 2em;
}

.calculator {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  background: hsl(0, 0%, 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1em 1.5em;
}

p {
  color: hsl(186, 14%, 43%);
}

.spanInput {
  display: inline-block;
  position: relative;
}

.spanInput input {
  border: none;
  background: hsl(189, 41%, 97%);
  box-shadow: none;
  font-size: 24px;
  height: 42px;
  padding-left: 20px;
  text-align: right;
}

.spanInput input:focus {
  outline: none;
  border: 2px solid hsl(183, 100%, 15%);
}

.billInput::before {
  content: url("./images/icon-dollar.svg");
  font-size: 24px;
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.peopleInput::before {
  content: url("./images/icon-person.svg");
  font-size: 24px;
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.tipButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tipButtons button {
  width: 40%;
  margin: 0.5em;
  padding: 0.75em 0.5em;
  font-weight: 700;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background: hsl(183, 100%, 15%);
  color: hsl(185, 41%, 84%);
}

.tipButtons input {
  width: 43%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  color: hsl(183, 100%, 15%);
}

.tipButtons input:focus {
  outline: none;
  border: 3px solid hsl(172, 67%, 45%);
}

.tipButtons button:focus {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.total {
  background: hsl(183, 100%, 15%);
  margin: 1.5em 0 1em 0;
  border-radius: 10px;
}

.amount {
  display: flex;
  margin: 1em 0.5em;
  color: hsl(184, 14%, 56%);
}

.amountTitle {
  flex: 2;
}

.result {
  flex: 1;
  text-align: right;
}

.totalTitle {
  color: hsl(189, 41%, 97%);
}

.resetBtn {
  display: block;
  margin: 1em auto;
  width: 80%;
  border: none;
  border-radius: 10px;
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-size: 1.15em;
  padding: 0.5em 1em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  top: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
